body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-height: 100vh;
}

h2{
    font-size: 2em;
    text-decoration: underline;
}

section{
    margin: 0px 50px;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

section hr{
    margin-top: 20px;
}

th{
    min-width: 200px;
    text-align: justify;
}

td, th{
    margin: 5px 0px;
    height: 100%;
    border-bottom: solid 1px rgb(127,127,127);
}

input{
    height: 30px;
}

td button{
    width: 100%;
}