body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-height: 100vh;
}

h2{
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 20px;
}

section{
    margin: 0px 50px;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

section hr{
    margin-top: 20px;
}

th{
    min-width: 200px;
    text-align: justify;
}

td, th{
    margin: 5px 0px;
    height: 100%;
    border-bottom: solid 1px rgb(127,127,127);
}

input{
    height: 30px;
}

td button{
    width: 100%;
}

#profil-modif-log{
    max-width: 369px;
    text-wrap: wrap;
}

#connect-log-table{
    width: 100%;
}

#profil-modif-confirm{
    position: fixed;
    top: 80px;
    bottom: 80px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 20, 20, 0.8);
}
#profil-modif-confirm[data-opened=false]{
    display: none;
}

#profil-modif-alert{
    margin-bottom: 200px;
    border-radius: 15px;
    padding: 10px 15px;
}

#profil-modif-alert-btn-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px
}

#profil-modif-alert-btn-holder button{
    width: 100%;
    padding: 15px 0px;
    border-radius: 2%;
    border: solid white 3px;
    cursor: pointer;
}

#profil-modif-alert-confirm-btn{
    background-color: rgba(124, 21, 21, 0.8);
    color: white;
}

#profil-modif-confirm[data-opened=true]{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#profil-modif-alert-delete{
    height: 500px;
    padding: 25px 50px;
    border: solid;
    border-radius: 4%;
    border-width: 10px;
    border-color: rgb(20,20,20);
    background-color: rgba(63, 63, 63, 0.5);
}

#disconnect-user{
    font-size: 1em;
    padding: 5px;
}