body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    padding-top: 20px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-height: 100vh;
}

h2{
    font-size: 2em;
}

#administration-nav-bar{
    display: flex;
    align-items: center;
    gap: 15px;
}

#administration-nav-bar hr{
    height: 50px;
    width: 3px;
}