body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-height: 100vh;
}

h2{
    font-size: 2em;
}

nav{
    justify-content: space-between;
    width: 650px;
}

nav hr{
    height: 50px;
    width: 3px;
}

a{
    color: white;
}