body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    padding-top: 20px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-height: 100vh;
}

#category-edit-menu-comp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#category-edit-back{
    margin-left: 10px;
}

#category-edit-back a{
    color: white;
}

#category-edit-menu{
    margin-right: 15px;
}