*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgb(20,20,20);
    color: white;
    background-image: url("/public/pasta_logo_bg.svg") ;
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

header{
    height: 80px;
    width: 100%;
    background-color: black;
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div a{
    color: white;
    text-decoration: none;
}

.flex-al-it-center{
    display: flex;
    align-items: center;
}

#pasta-logo-header{
    height: 50px;
    width : 50px;
}

#user-logo-header{
    height: 40px;
    width : 40px;
}

#administration-logo-header{
    height: 36px;
    width : 36px;
}

#header-comp-right{
    margin-right: 25px;
    width: 276px;
    justify-content: space-between;
}

#header-lang-flag{
    width: 40px;
    height: 30px;
}

#header-select-lang{
    margin-left: 10px;
}

#header-icons-nav{
    display: flex;
    align-items: center;
    gap: 40px;
}